.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  flex-wrap: wrap;
}

.item {
  background-color: lightblue;
  border: 1px solid blue;
  padding: 10px;
  margin: 5px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
